 ---
 ---

@import "{{ site.theme }}";
.project_tagline_one {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  background: #fff;
  text-shadow: #111 0px 0px 10px;
}
#header_wrap_one {
  background: #000;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(to top, #373737, #212121);
}



